
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header
{
    background: url(/img/rock.png) no-repeat;
    background-size: cover;
    max-width: 100%;
    padding-bottom: 157px;    
}

.header__blok
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    margin: 0 auto 103px;
    padding: 17px 0;
    height: 74px;
}

.span
{
    font: 26px/1'Lora', serif;
    color: #FFFFFF;
}

.blok-nav
{
    font: 12px/1.66 'Oxygen', sans-serif;
    
}

.blok-nav__a
{
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 19px;
    letter-spacing: 0.6px;
    
}

.h1
{
    font: 50px/1.02 'Lora', serif;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-family: 'Lora', serif; 
}

.header__h1
{
    text-align: center;
    margin-bottom: 20px;
}

.p
{
    font: 17px/1.17 'Oxygen', sans-serif;
    color: rgba(255, 255, 255, 0.63);    
}

.header__p
{
    text-align: center;
    margin-bottom: 31px;
}

.button
{
    font: 13px/1.53 'Oxygen', sans-serif;
    color: #FFFFFF;
    border-radius: 3px;
    background: #DD783F;
    border: none;
}

.header__button
{ 
    display: block;
    padding: 12px 33px;
    margin: 0 auto;
   
}

.body__nav
{
    max-width: 960px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    height: 65px;
    margin: auto;
}

.link
{
    font: 14px/0.7 'Lora', serif;
    text-decoration: none;
    color: #768088;
}

/*_______________________main___________________________________________*/

.main
{
    max-width: 100%;
    background: #F7F7F7;
}

.h2
{
    font: 20px/0.74 'Oxygen', sans-serif;
    letter-spacing: 2px;
    color: #2E2E2E; 
}

.main__h2
{
    padding-top: 65px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid  #DEDEDE;
    padding-bottom: 16px;
    width: 188px;
    margin: 0 auto;
}

.main__section-top
{
    margin: 13px auto 2px auto ; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
    /*max-width: 960px;
    max-height: 294px;*/   
}

.featured-posts__main
{
    max-height: 280px;
    max-width: 460px;
    margin: 10px;
    border-radius: 3px;
    position: relative;
}

.featured-posts__main_left
{
    background: url(/img/the_road_ahead.png);
    
}

.featured-posts__main_right
{
    background: url(/img/from\ _top_down.png);  
}

.h3
{ 
    color: #FFFFFF;
    font: 27px/1.11 'Lora', serif;
}

.featured-posts__h3
{
    display: flex;
    justify-content: flex-start;
    margin: 164px 0 6px 20px;
}

.post-p
{
    font: 14px/1.78 'Oxygen', sans-serif;
    color: rgba(255, 255, 255, 0.7);
}

.featured-posts__post-p
{
    margin: 0 0 20px 20px;
}

.author
{
    font: 12px/2.91 'Oxygen', sans-serif;
    color: rgba(255, 255, 255, 0.7);
}

.featured-posts__author
{
    display: flex;
    align-items: center;
    width: 420px;
    height: 20px;
    margin: 15px 20px; 
}

.author__author-neme
{
    margin-left: 10px;
}

.author__date
{
    display: flex;
    justify-content: end;
    width: 300px;
}

.featured-posts__button
{
    position: absolute;
    left: 26px;
    top: 26px;
    padding: 6px 9px 7px 9px;   
}

.main__h2_second
{
    margin-bottom: 22px;
}



/*----------------------------------Most Recent---------------------------*/

.section-lower
{
    max-width: 960px;
    min-height: 632px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}

.card
{
    max-width: 296px;
    max-height: 291px;
    background: #FFFFFF;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.09);   
}

.card__lower
{
    margin: 22px 12px 25px 12px;
    position: relative;
    align-items: center;
    margin: 10px auto;
}

.card-h3
{
    font: 16px/1.31 'Lora', serif;
    color: #101315;   
}

.card__card-h3
{
   position: absolute;
   top: 164px;
   left: 13px;
}
.card-p
{
    font: 13px/1.46 'Oxygen', sans-serif;
    color: #7A7A7A;  
}

.card__card-p
{
    margin-bottom: 1px;
    position: absolute;
    top: 191px;
    left: 13px;
    right: 13px;
}

.card__author
{
    margin-top: 93px;
    position: relative;
    height: 48px;
}

.card__author_lower
{   
    color: #999999;
    background: #FCFCFC;
}

.author__img-card
{
    position: absolute;
    top: 12px;
    left: 13px;
}

.author__card-neme
{
    position: absolute;
    top: 10px;
    left: 49px;
}

.author__card-neme_font
{
    font: 11px/3.18 'Oxygen', sans-serif;
}

.author__card-date
{   
    position: absolute;
    top: 10px;
    left: 225px;
}

/*--------------------------footer-----------------------------------------------*/

.footer
{
    max-width: 100%;
    background: url(/img/form.png) no-repeat;
    background-size: cover;
}

.main__footer
{
   margin-top: 108px; 
}

.main__h2_footer
{
    font: 25px/1.2 'Oxygen', sans-serif;
    color: #EFEFEF;
    margin-bottom: 20px;
    letter-spacing: 0;
}

.form-email
{
    border-radius: 3px 0px 0px 3px;
    border: none;
    width: 375px;
    height: 50px;
    padding-left: 35px;
}
 
.form-submit
{
    background: rgba(255, 255, 255, 0.28);
    border-radius: 0px 3px 3px 0px;
    border: none;
    width: 125px;
    height: 50px;
}

.footer__form
{
    text-align: center;
    margin-bottom: 89px;
}

.footer__container
{
    width: 100%;
    background: rgba(35, 47, 56, 0.6);
}

.footer__blok
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    margin: 0 auto;
    padding: 17px 0;
    height: 74px;
}

.footer__span
{
    margin-top: 3px;  
}

.footer__blok-nav
{
    margin-top: 10px; 
}

.blok-nav__a_fotter
{
    font: 11px/2.36 'Oxygen', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 1px;
    margin: 0 5px;  
}






