@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

.body
{
    max-width: 100%;
}

.header__blok
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    margin: 0 auto 99px;
    padding: 17px 0;
    height: 74px;
}

.span
{
    font: 26px/1'Lora', serif;
    color: #2E2E2E;
}

.header__span
{
    margin-top: 3px;  
}

.blok-nav
{
    font: 12px/1.66 'Oxygen', sans-serif;

}

.header__blok-nav
{ 
    margin-top: 10px;
}

.blok-nav__a
{
    text-decoration: none;
    text-transform: uppercase;
    color: #2E2E2E;
    margin: 0 19px;
    letter-spacing: 0.6px;  
}


.main
{
    max-width: 100%;
}

.heading
{
    font: 50px/1.02'Lora', serif;
    line-height: 51px;
    letter-spacing: 2px;
    color: #2E2E2E;
}

.main__heading
{
    display: flex;
    justify-content: center;
    margin: 0 auto 20px;
}

.subtitle
{
    font: 17px/1.17 'Oxygen', sans-serif;
    color: rgba(46, 46, 46, 0.63);
}

.main__subtitle
{
    display: flex;
    justify-content: center;
    margin: 0 auto 113px;    
}



.main__img
{
   max-width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   margin: 0 auto 140px;  

}

.content
{
    font: 24px/1.45 'Oxygen', sans-serif;
    /*background: url(/img/the_road_ahead.png) no-repeat;
    background-size: cover;
    max-width: 100%;
    padding-bottom: 157px; */
    
}

.main__content
{
    max-width: 960px;
    /*display: flex;
    /*justify-content: center;
    flex-direction: column;*/
    margin:0  auto;
    padding: 0

}

.main__p
{
   display: flex;
   justify-content: center;
   margin-bottom: 36px;
}

/*--------------------------footer-----------------------------------------------*/

.footer
{
    max-width: 100%;
    background: url(/img/form.png) no-repeat;
    background-size: cover;
}

.main__footer
{
   margin-top: 108px; 
}

.h2
{
    font: 25px/1.2 'Oxygen', sans-serif;
    color: #EFEFEF;
    
}

.footer__h2
{
    padding-top: 65px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid  #DEDEDE;
    padding-bottom: 16px;
    width: 188px;
    margin: 0 auto 20px auto;
}



.form-email
{
    border-radius: 3px 0px 0px 3px;
    border: none;
    width: 375px;
    height: 50px;
    padding-left: 35px;
}
 
.form-submit
{
    background: rgba(255, 255, 255, 0.28);
    border-radius: 0px 3px 3px 0px;
    border: none;
    width: 125px;
    height: 50px;
}

.footer__form
{
    text-align: center;
    margin-bottom: 89px;
}

.footer__container
{
    width: 100%;
    background: rgba(35, 47, 56, 0.6);
}

.footer__blok
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 940px;
    margin: 0 auto;
    padding: 17px 0;
    height: 74px;
}

.footer__span
{
    margin-top: 3px;  
}

.footer__span_color
{
    color: #FFFFFF;
}

.footer__blok-nav
{
    margin-top: 10px; 
}

.blok-nav__a_fotter
{
    font: 11px/2.36 'Oxygen', sans-serif;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 1px;
    margin: 0 5px;  
}
